html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* colors*/
:root {
    --color-main: #65647D;
    --color-highlight: #E20EA6;
    --color-sea: #4BBEE2;
    --color-dark: #131136;
    --color-light: #D8D8D8;
}

/*text colors */
.color-main {
    color: var(--color-main);
}
.color-highlight {
    color: var(--color-highlight);
}
.color-light {
    color: var(--color-light);
}

body {
    height: 100vh;
    font-family: Comfortaa, sans-serif;
    color: var(--color-dark);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.btn {
    border-radius: 0.5rem;
    padding: 0.25rem 2rem;
}
.btn-empty {
    background-color: transparent;
    color: var(--color-highlight);
    border: solid var(--color-highlight);
}
.btn-empty:hover {
    background-color: var(--color-highlight);
    color: #fff;
    border: solid var(--color-highlight);
}
.btn-primary {
    background-color: var(--color-highlight);
    border: none;
}
.btn-primary:hover {
    background-color: var(--color-sea);
    border: none;
}

.tooltip-1 {
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip-1 .tooltiptext {
    visibility: hidden;
    width: 12rem;
    font-size: 0.8rem;
    background-color: rgba(19, 17, 54, 0.85);
    color: var(--color-light);
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.5rem 0.25rem;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-1 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(19, 17, 54, 0.91) transparent;
}

.tooltip-1:hover .tooltiptext {
    visibility: visible;
}

.card-border {
    /*border: solid var(--color-light) 0.15rem;*/
    border-radius: 1rem;
    background: #4bbee22e;
}

/* graphics */
.whale {
    width: 30rem;
    margin-bottom: -9rem;
    margin-right: -10rem;
    -webkit-animation: whale-anim 20s ease-in;
    animation: whale-anim 70s ease-in infinite;
    z-index: -200;
}
.sea {
    height: 7.5rem;
    left: -40rem;
    background: url('../img/img_sea.svg') repeat-x bottom;
    opacity: 0.8;
    -webkit-animation: sea-anim 10s;
    animation: sea-anim 30s infinite linear;
    z-index: -100;
}
@keyframes whale-anim {
    from {margin-bottom: -9rem; margin-right: -10rem;}
    15% {transform: rotate(8deg); margin-bottom: -7.5rem; margin-right: 5rem;}
    35% {transform: rotate(-6deg); margin-bottom: -8rem; margin-right: 15rem;}
    65% {transform: rotate(4deg); margin-bottom: -7rem; width: 35rem; margin-right: 5rem;}
    80% {transform: rotate(-5deg); margin-bottom: -8rem; margin-right: 0rem;}
    to {transform: rotate(0deg); margin-bottom: -9rem; margin-right: -10rem; width: 30rem;}
}
@keyframes sea-anim {
    from {margin-left: -200%;}
    10% {margin-bottom: -2rem;}
    25% {margin-bottom: -1.5rem;}
    40% {margin-bottom: -2.5rem;}
    55% {margin-bottom: 0rem;}
    70% {margin-bottom: -1.5rem;}
    85% {margin-bottom: -0.5rem;}
    to {margin-left: 0%;}
}

.arrow-vertical-lg {
    border-right: solid var(--color-sea) 0.15rem;
    height: 70vh;
    margin-right: 1rem;
    margin-top: 1.5rem;
    vertical-align: bottom;
    -webkit-animation: arrow-vertical-lg-anim 2s ease-out;
    animation: arrow-vertical-lg-anim 2s ease-out;
    animation-iteration-count: 1;
    z-index: -999;
}
.arrow-vertical-lg::after {
    content: "";
    background-image: url(../img/circle-empty.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    transform: translateX(0.5rem);
    width: 100%;
    height: 99%;
    display: inline-table;
}
.arrow-vertical-lg::before {
    content: "";
    border-bottom: solid var(--color-sea) 0.15rem;
    width: 6%;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    -webkit-animation: arrow-vertical-lg-hor-anim 2.2s ease-out;
    animation: arrow-vertical-lg-hor-anim 2.2s ease-out;
}

@keyframes arrow-vertical-lg-anim {
    from {height: 0; margin-top: 80vh; opacity: 0; alignment-baseline: bottom;}
    90% {height: 0; margin-top: 80vh; opacity: 1;}
    to {margin-top: 0; height: 80vh; opacity: 1;}
}
@keyframes arrow-vertical-lg-hor-anim {
    from {opacity: 0;}
    90% {opacity: 0;}
    to {opacity: 1;}
}
.appear-1st {
    opacity: 1;
    -webkit-animation: appear-1st-anim 3s linear;
    animation: appear-1st-anim 3s linear;
    animation-iteration-count: 1;
}
@keyframes appear-1st-anim {
    from {width: 0; margin-left: 100%; opacity: 0;}
    80% {width: 0; margin-left: 100%; opacity: 0;}
    to {width: 100%; opacity: 1;}
}
.appear-2nd {
    opacity: 1;
    -webkit-animation: appear-2nd-anim 4.5s linear;
    animation: appear-2nd-anim 4.5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-2nd-anim {
    from {width: 0; height: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; height: 0; left: auto; right: 0; opacity: 0; }
    to {width: 100%; height: auto; opacity: 1; left: auto; right: 0;}
}
.appear-3rd {
    opacity: 1;
    -webkit-animation: appear-3rd-anim 5s linear;
    animation: appear-3rd-anim 5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-3rd-anim {
    from {width: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; left: auto; right: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}
.appear-4th {
    opacity: 1;
    -webkit-animation: appear-4th-anim 5.5s linear;
    animation: appear-4th-anim 5.5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-4th-anim {
    from {width: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; left: auto; right: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}

@media all and (max-width: 800px) {
    .graph-1-birds {
        max-width: 94%;
    }
    .graph-1-mammals {
        max-width: 40%;
    }
    .graph-1-turtles {
        max-width: 4%;
    }
    .ver-cent-push-dwn {
        font-size: 1.8rem;
        padding-top: 25%;
    }
    .fluid-padd-right {
        padding-right: 1rem;
    }
}