html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.background {
    background-color: var(--color-light);
    z-index: -999999;
}
.canvas-anim {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* colors*/
:root {
    --color-main: #65647D;
    --color-highlight: #ffec03;
    --color-sea: #4BBEE2;
    --color-dark: #2a1169;
    --color-light: #e8fbff;
}

/*text colors */
.color-main {
    color: var(--color-main);
}
.color-highlight {
    color: var(--color-highlight);
}
.color-light {
    color: var(--color-light);
}

body {
    height: 100vh;
    font-family: Comfortaa, sans-serif;
    color: var(--color-dark);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa;
}
a:hover {
    color: var(--color-highlight);
    text-decoration: none;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.btn {
    border-radius: 0.5rem;
    padding: 0.25rem 2rem;
    font-weight: bold;
}
.btn-empty {
    background-color: transparent;
    color: var(--color-highlight);
    border: solid var(--color-highlight);
}
.btn-empty:hover {
    background-color: var(--color-highlight);
    color: var(--color-dark);
    border: solid var(--color-highlight);
}
.btn-primary {
    background-color: var(--color-highlight);
    border: none;
}
.btn-primary:hover {
    background-color: var(--color-sea);
    border: none;
}
.btn-bubble {
    border-bottom-right-radius: 0;
    padding: 1rem 2rem;
    top: 70vh;
    bottom: 30vh;
    margin: auto;
    position: relative;
    background-color: var(--color-sea);
    z-index: 9;
}
.btn-bubble::after {
    width: 0;
    height: 0;
    position: absolute;
    margin-left: 2rem;
    margin-top: 1.5rem;
    border-left: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--color-sea);
    content: "";
}

.tooltip-1 {
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip-1 .tooltiptext {
    visibility: hidden;
    width: 12rem;
    font-size: 0.8rem;
    background-color: rgba(19, 17, 54, 0.85);
    color: var(--color-light);
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.5rem 0.25rem;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-1 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(19, 17, 54, 0.91) transparent;
}

.tooltip-1:hover .tooltiptext {
    visibility: visible;
}

.card-border {
    /*border: solid var(--color-light) 0.15rem;*/
    border-radius: 1rem;
    background: #4bbee22e;
}

.index-mid {
    z-index: -10;
}
.index-front {
    z-index: 10;
}
.index-back {
    z-index: -40;
}
.opacity-high {
    opacity: 0.8;
}
.opacity-mid {
    opacity: 0.6;
}
.water-background {
    height: 100vh;
    padding-top: 25vh;
    background: rgba(75,190,226,1);
    background: -moz-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,190,226,1)), color-stop(100%, rgba(0,122,156,1)));
    background: -webkit-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: -o-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: -ms-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: linear-gradient(to bottom, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbee2', endColorstr='#007a9c', GradientType=0 );
}
/* graphics */
.whale {
    position: absolute;
    width: 30rem;
    margin-top: 30rem;
    margin-left: 90vw;
    -webkit-animation: whale-anim 20s ease-in;
    animation: whale-anim 120s ease-in infinite;
    z-index: -200;
}
.sea {
    height: 12rem;
    left: -40rem;
    background: url('../img/img_sea.svg') repeat-x bottom;
    opacity: 1;
    -webkit-animation: sea-anim 10s;
    animation: sea-anim 30s infinite linear;
}
@keyframes whale-anim {
    from {margin-top: 30rem; margin-left: 90vw;}
    15% {transform: rotate(8deg); margin-top: 12.5rem; margin-left: 15rem;}
    35% {transform: rotate(-6deg); margin-bottom: -10rem; margin-right: 35rem;}
    65% {transform: rotate(4deg); margin-bottom: -9rem; width: 35rem; margin-right: 15rem;}
    80% {transform: rotate(-5deg); margin-bottom: -12rem; margin-right: 0rem;}
    to {transform: rotate(0deg); margin-bottom: -30rem; margin-right: -10rem; width: 30rem;}
}
@keyframes sea-anim {
    from {margin-left: -200%;}
    10% {margin-bottom: -2rem;}
    25% {margin-bottom: -1.5rem;}
    40% {margin-bottom: -2.5rem;}
    55% {margin-bottom: 0rem;}
    70% {margin-bottom: -1.5rem;}
    85% {margin-bottom: -0.5rem;}
    to {margin-left: 0%;}
}

.arrow-vertical-lg {
    border-right: solid var(--color-sea) 0.15rem;
    height: 70vh;
    margin-right: 1rem;
    margin-top: 1.5rem;
    vertical-align: bottom;
    -webkit-animation: arrow-vertical-lg-anim 2.5s ease-out;
    animation: arrow-vertical-lg-anim 2.5s ease-out;
    animation-iteration-count: 1;
    z-index: -999;
}
.arrow-vertical-lg::after {
    content: "";
    background-image: url(../img/circle-empty.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    transform: translateX(0.5rem);
    width: 100%;
    height: 99%;
    display: inline-table;
}
.arrow-vertical-lg::before {
    content: "";
    border-bottom: solid var(--color-sea) 0.15rem;
    width: 6%;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    -webkit-animation: arrow-vertical-lg-hor-anim 3s ease-out;
    animation: arrow-vertical-lg-hor-anim 3s ease-out;
}

@keyframes arrow-vertical-lg-anim {
    from {height: 0; margin-top: 80vh; opacity: 0; alignment-baseline: bottom;}
    60% {height: 0; margin-top: 80vh; opacity: 1;}
    to {margin-top: 0; height: 80vh; opacity: 1;}
}
@keyframes arrow-vertical-lg-hor-anim {
    from {opacity: 0;}
    70% {opacity: 0;}
    to {opacity: 1;}
}
.appear-1st {
    opacity: 1;
    -webkit-animation: appear-1st-anim 3s linear;
    animation: appear-1st-anim 3s linear;
    animation-iteration-count: 1;
}
@keyframes appear-1st-anim {
    from {width: 0; margin-left: 100%; opacity: 0;}
    80% {width: 0; margin-left: 100%; opacity: 0;}
    to {width: 100%; opacity: 1;}
}
.appear-2nd {
    opacity: 1;
    -webkit-animation: appear-2nd-anim 4.5s linear;
    animation: appear-2nd-anim 4.5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-2nd-anim {
    from {width: 0; height: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; height: 0; left: auto; right: 0; opacity: 0; }
    to {width: 100%; height: auto; opacity: 1; left: auto; right: 0;}
}
.appear-3rd {
    opacity: 1;
    -webkit-animation: appear-3rd-anim 5s linear;
    animation: appear-3rd-anim 5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-3rd-anim {
    from {width: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; left: auto; right: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}
.appear-4th {
    opacity: 1;
    -webkit-animation: appear-4th-anim 5.5s linear;
    animation: appear-4th-anim 5.5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-4th-anim {
    from {width: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; left: auto; right: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}

/* story-1 */
.appear-sea {
    -webkit-animation: appear-sea-anim 9s ease-in;
    animation: appear-sea-anim 8s ease-in;
}
@keyframes appear-sea-anim {
    from {margin-bottom: -10rem; }
    65% {margin-bottom: -8rem; }
    100% {margin-bottom: 0; }
}
.float {
    -webkit-animation: float-anim 8s infinite;
    animation: float-anim 8s infinite;;
    animation-delay: 4s;
}
@keyframes float-anim {
    10% {transform: rotate(15deg);}
    25% {transform: rotate(-5deg);}
    40% {transform: rotate(10deg);}
    75% {transform: rotate(-25deg);}
    to {transform: rotate(30deg);}
}
.delay-1 {
    margin-top: 91vh;
    transform: rotate3d(2,4,1,20deg);
    animation: delay-1-anim 9s ease-out;
}
@keyframes delay-1-anim {
    from {transform: rotate3d(5,1,6,60deg); margin-top: -5rem; margin-right: 1rem;}
    to {transform: rotate3d(2,4,1,20deg); margin-top: 91vh;}
}
.delay-2 {
    margin-top: 90vh;
    transform: rotate3d(-6,9,3,-25deg);
    margin-right: 1rem;
    animation: delay-2-anim 8.5s ease-out;
}
@keyframes delay-2-anim {
    from {transform: rotate3d(1,6,2,10deg) ; margin-top: -10rem;}
    15% {transform: rotate3d(1,6,2,10deg) ; margin-top: -10rem;}
    to {transform: rotate3d(-6,9,3,-25deg) ; margin-top: 90vh; margin-right: 2rem;}
}
.delay-3 {
    transform: rotate3d(7,10,2,25deg) ;
    margin-right: 2rem;
    margin-top: 93vh;
    animation: delay-3-anim 9.5s ease-out;
}
@keyframes delay-3-anim {
    from {transform: rotate3d(1,5,6,-25deg) ; margin-top: -7rem;}
    20% {transform: rotate3d(1,5,6,-25deg) ; margin-top: -7rem;}
    to {transform: rotate3d(7,2,2,25deg) ; margin-top: 93vh; margin-right: 1.5rem;}
}
.opacity-in {
    animation: opacity-in-anim 2.5s linear;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes opacity-in-anim {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1;}
}



@media all and (max-width: 800px) {
    .graph-1-birds {
        max-width: 94%;
    }
    .graph-1-mammals {
        max-width: 40%;
    }
    .graph-1-turtles {
        max-width: 4%;
    }
    .ver-cent-push-dwn {
        font-size: 1.8rem;
        padding-top: 25%;
    }
    .fluid-padd-right {
        padding-right: 1rem;
    }
    .btn-bubble {
        top: 62vh;
        left: -7vw;
        padding: 0.5rem;
    }
    .btn-bubble:after {
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
}
@media all and (min-width: 1420px) {
    .arrow-vertical-lg {
        margin-right: 5%;
    }
}
@media all and (min-width: 1800px) {
    .arrow-vertical-lg::before {
        width: 15%;
    }
}