html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.background {
    background-color: var(--color-light);
    z-index: -999999;
}
.container-narrow {
    max-width: 42rem;
}
.canvas-anim {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* colors*/
:root {
    --color-main: #65647D;
    --color-highlight: #e41bab;
    --color-contrast: #ffec03;
    --color-contrast2: #6B0EE2;
    --color-sea: #4BBEE2;
    --color-dark: #2a1169;
    --color-light: rgba(232, 251, 255, 0.7);
}
.fixed-top {
    z-index: unset;
}
.footer {
    background: var(--color-sea);
}
.footer img {
    background: var(--color-sea);
    padding: 0.25rem;
    border-radius: 0.25rem;
    max-width: 20rem;
    transition: all 0.5s ease-in;
}
.footer:hover img {
    background: var(--color-highlight);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

/*text colors */
.color-main {
    color: var(--color-main);
}
.color-highlight {
    color: var(--color-highlight);
}
.color-light {
    color: var(--color-light);
}
.color-white {
    color: #fff;
}

body {
    height: 100vh;
    font-family: Comfortaa, sans-serif;
    color: var(--color-dark);
}
h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa;
}
a {
    background: transparent;
    color: var(--color-sea);
}
a:hover {
    color: var(--color-highlight);
    text-decoration: none;
}
summary:focus {
    outline: none;
}
.btn-secondary {
    background: transparent;
    padding: 0.5rem;
    border-radius: 1rem;
}
.btn-secondary:hover {
    color: var(--color-highlight);
    background: var(--color-light);
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.absolute-center {
    position: absolute;
    width: -webkit-fill-available;
}
.btn {
    border-radius: 0.5rem;
    padding: 0.25rem 2rem;
    font-weight: bold;
}
.btn-empty {
    background-color: #ffffff40;
    color: var(--color-dark);
    border: solid var(--color-dark);
}
.btn-empty:hover {
    background-color: var(--color-highlight);
    color: var(--color-light);
    border: solid var(--color-highlight);
}
.btn-primary {
    background-color: var(--color-highlight);
    border: none;
}
.btn-primary:hover, btn-primary:active {
    background-color: var(--color-light);
    border: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--color-highlight);
    border: none;
}
.bubble-intro {
    margin: 37vw auto auto 45%;
}
.btn-bubble {
    border-bottom-right-radius: 0;
    padding: 1rem 2rem;
    background-color: var(--color-highlight);
    z-index: 9;
    transition: all .15s;
}
.btn-bubble:hover, .btn-bubble:focus, .btn-bubble:active, .btn-bubble:visited {
    background-color: var(--color-main) !important;
    border: none;
}
.btn-bubble:hover::after, .btn-bubble:focus::after, .btn-bubble:active::after, .btn-bubble:visited::after {
    border-bottom: 1rem solid var(--color-main);
}
.btn-bubble::after {
    width: 0;
    height: 0;
    position: absolute;
    margin-left: 2rem;
    margin-top: 1.5rem;
    border-left: 0;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--color-highlight);
    content: "";
    transition: all .15s;
}
.arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.25rem 0 0.25rem 1rem;
    border-color: transparent transparent transparent var(--color-dark);
}

.tooltip {
    position: relative;
    border: none;
    opacity: 1;
    cursor: pointer;
    font-family: Comfortaa;
}
.tooltip .tooltiptext-top {
    visibility: hidden;
    min-width: 20rem;
    width: 25vw;
    background-color: rgba(19, 17, 54, 0.85);
    color: var(--color-light);
    text-align: center;
    border-radius: 1.5rem;
    padding: 1.25rem;
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: -240%;
    margin: auto;
    z-index: 999;
}
.tooltip .tooltiptext-top::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 45%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent rgba(19, 17, 54, 0.91) transparent;
}
.tooltip .tooltiptext-bottom {
    visibility: hidden;
    min-width: 20rem;
    width: 40vw;
    background-color: rgba(19, 17, 54, 0.85);
    color: var(--color-light);
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.25rem;
    position: absolute;
    z-index: 1;
    top: 6rem;
    right: -100%;
    margin: auto;
    z-index: 999;
}
.tooltip .tooltiptext-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 45%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent rgba(19, 17, 54, 0.91) transparent;
}
.tooltip .tooltiptext-right {
    visibility: hidden;
    width: 12rem;
    font-size: 0.8rem;
    background-color: rgba(19, 17, 54, 0.85);
    color: var(--color-light);
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: 45%;
    margin: auto auto 0 auto;
    z-index: 999;
}

.tooltip .tooltiptext-right::after {
    content: "";
    position: absolute;
    bottom: 35%;
    right: 100%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent rgba(19, 17, 54, 0.91) transparent transparent;
}
.tooltip .tooltiptext-left {
    visibility: hidden;
    width: 12rem;
    font-size: 0.8rem;
    background-color: rgba(19, 17, 54, 0.85);
    color: var(--color-light);
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 100%;
    margin: auto auto 0 auto;
    z-index: 999;
}
.tooltip .tooltiptext-left::after {
    content: "";
    position: absolute;
    bottom: 35%;
    left: 104%;
    margin-left: -0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent transparent rgba(19, 17, 54, 0.91) ;
}
.tooltip:hover .tooltiptext-top {
    visibility: visible;
}
.tooltip:hover .tooltiptext-bottom {
    visibility: visible;
}
.tooltip:hover .tooltiptext-right {
    visibility: visible;
}
.tooltip:hover .tooltiptext-left {
    visibility: visible;
}

.card-border {
    /*border: solid var(--color-light) 0.15rem;*/
    border-radius: 1rem;
    background: #4bbee22e;
}
.card {
    background-color: #ecfcfec4;
    padding: 2rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 0 0 1rem 1rem;
}

.index-mid {
    z-index: 0;
}
.index-front {
    z-index: 10;
}
.index-back {
    z-index: -40;
}

.badge-sm {
    max-width: 1rem;
}
.label {
    font-size: 0.8rem;
    background: url("../img/bubble-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    opacity: 0.6;
}

.opacity-high {
    opacity: 0.8;
}
.opacity-mid {
    opacity: 0.6;
}
.opacity-low {
    opacity: 0.3;
}
.water-background {
    margin-top: -3rem;
    height: 100vh;
    padding-top: 25vh;
    background: rgba(75,190,226,1);
    background: -moz-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: -webkit-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: -o-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: -ms-linear-gradient(top, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    background: linear-gradient(to bottom, rgba(75,190,226,1) 0%, rgba(0,122,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbee2', endColorstr='#007a9c', GradientType=0 );
}

.ic-lg {
    width: 10rem;
}
.ic-sm {
    max-width: 2rem;
    max-height: 2rem;
}
/* graphics */
.bird {
    width: 20rem;
    height: auto;
    margin-top: 2rem;
    margin-left: 4vw;
    z-index: 2;
    -webkit-animation: bird-anim 7s ease-in infinite;
    animation: bird-anim 7s ease-in infinite;
}
@keyframes bird-anim {
    from {margin-top: 2rem; margin-left: 4vw;}
    35% {margin-top: 1rem; margin-left: 6vw;}
    65% {margin-top: 2.5rem; margin-left: 5vw;}
    to {margin-top: 2rem; margin-left: 4vw;}
}

.bird-img {
    background-image: url(../img/ic_bird.svg);
    width: 4.5rem;
    height: 5rem;
    opacity: 0.95;
    background-size: contain;
    background-repeat: no-repeat;
}
.turtle {
    position: fixed;
    width: 19rem;
    margin-top: 0rem;
    margin-left: 25vw;
    z-index: 1;
    -webkit-animation: turtle-anim 140s ease-in infinite;
    animation: turtle-anim 140s ease-in infinite;
}
@keyframes turtle-anim {
    from {width: 19rem; margin-top: 0rem; margin-left: 25vw;}
    15% {transform: rotate(8deg); width: 19rem; margin-top: 2rem; margin-left: 47vw;}
    35% {transform: rotate(-6deg); width: 19rem; margin-top: 1rem; margin-left: 68vw;}
    65% {transform: rotate(4deg); width: 19rem; margin-top: 1.5rem; margin-left: 90vw;}
    80% {transform: rotate(-5deg); width: 19rem; margin-top: 2rem; margin-left: 38vw;}
    to {transform: rotate(0deg); width: 19rem; margin-top: 0rem; margin-left: 25vw;}
}
.turtle-img {
    background-image: url(../img/turtle_anim.gif);
    width: 7rem;
    height: 7rem;
    opacity: 0.95;
    background-size: contain;
    background-repeat: no-repeat;
}

.whale-center {
    left: -10vw;
    opacity: 0.9;
}
.whale {
    bottom: 4rem;
    position: fixed;
    margin-left: 60vw;
    z-index: 1;
    -webkit-animation: whale-anim 140s ease-in infinite;
    animation: whale-anim 140s ease-in infinite;
}
@keyframes whale-anim {
    from {bottom: 4rem; margin-left: 80vw;}
    15% {transform: rotate(8deg); bottom: 8rem; margin-left: 65vw;}
    35% {transform: rotate(-6deg); bottom: 4rem; margin-left: 45vw;}
    65% {transform: rotate(4deg); bottom: 6rem; width: 35rem; margin-left: 25vw;}
    80% {transform: rotate(-5deg); bottom: 5rem; margin-left: 30vw;}
    95% {transform: rotate(0deg); bottom: 3.6rem; margin-left: 75vw; width: 30rem;}
}
.whale-img {
    background-image: url(../img/whale-anim.gif);
    width: 26rem;
    height: 10rem;
    opacity: 0.95;
    background-size: contain;
    background-repeat: no-repeat;
}
.sea {
    height: 15rem;
    left: -40rem;
    background: url('../img/img_sea.svg') repeat-x bottom;
    -webkit-animation: sea-anim 10s;
    animation: sea-anim 30s infinite linear;
}
.sea-high {
    height: 10rem !important;
}
@keyframes sea-anim {
    from {margin-left: -200%;}
    10% {margin-bottom: 2rem;}
    25% {margin-bottom: 1.7rem;}
    40% {margin-bottom: 1.9rem;}
    55% {margin-bottom: 2rem;}
    70% {margin-bottom: 1.7rem;}
    85% {margin-bottom: 1.9rem;}
    to {margin-left: 0%;}
}

.arrow-vertical-lg {
    border-right: solid var(--color-highlight) 0.15rem;
    height: 42vh;
    margin-right: 1rem;
    margin-top: 1.5rem;
    vertical-align: bottom;
    -webkit-animation: arrow-vertical-lg-anim 2.5s ease-out;
    animation: arrow-vertical-lg-anim 2.5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
}
.arrow-vertical-lg::after {
    content: "";
    background-image: url(../img/circle-empty.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    transform: translateX(0.5rem);
    width: 100%;
    height: 99%;
    display: inline-table;
}
.arrow-vertical-lg::before {
    content: "";
    border-bottom: solid var(--color-highlight) 0.15rem;
    width: 6%;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    -webkit-animation: arrow-vertical-lg-hor-anim 3s ease-out;
    animation: arrow-vertical-lg-hor-anim 3s ease-out;
}

@keyframes arrow-vertical-lg-anim {
    from {height: 0; margin-top: 42vh; opacity: 0; alignment-baseline: bottom;}
    60% {height: 0; margin-top: 42vh; opacity: 1;}
    to {height: 42vh; margin-top: 2vh; opacity: 1;}
}
@keyframes arrow-vertical-lg-hor-anim {
    from {opacity: 0; width: 0;}
    70% {opacity: 0; width: 0;}
    to {opacity: 1; width: 6%;}
}
.appear-1st {
    opacity: 1;
    -webkit-animation: appear-1st-anim 3s linear;
    animation: appear-1st-anim 3s linear;
    animation-iteration-count: 1;
}
@keyframes appear-1st-anim {
    from {width: 0; margin-left: 100%; opacity: 0;}
    80% {width: 0; margin-left: 100%; opacity: 0;}
    to {width: 100%; opacity: 1;}
}
.birds-transition-in {
    opacity: 1;
    -webkit-animation: appear-2nd-anim 4.5s linear;
    animation: appear-2nd-anim 4.5s linear;
    animation-iteration-count: 1;
}
.mammals-transition-in {
    opacity: 1;
    -webkit-animation: appear-3rd-anim 5s linear;
    animation: appear-3rd-anim 5s linear;
    animation-iteration-count: 1;
}
@keyframes appear-3rd-anim {
    from {width: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; left: auto; right: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}
@keyframes appear-4th-anim {
    from {width: 0; left: auto; right: 0; opacity: 0;}
    75% {width: 0; left: auto; right: 0; opacity: 0;}
    to {width: 100%; opacity: 1;}
}

/* story-1 */
.appear-sea {
    -webkit-animation: appear-sea-anim 9s ease-in;
    animation: appear-sea-anim 5s ease-in;
}
@keyframes appear-sea-anim {
    from {margin-bottom: -10rem; }
    35% {margin-bottom: -4rem; }
    100% {margin-bottom: 0; }
}
.float {
    -webkit-animation: float-anim 10s infinite;
    animation: float-anim 10s infinite;;
    animation-delay: 4s;
}
@keyframes float-anim {
    10% {transform: rotate(15deg);}
    25% {transform: rotate(-5deg);}
    40% {transform: rotate(10deg);}
    75% {transform: rotate(-25deg);}
    to {transform: rotate(30deg);}
}
.float1 {
    -webkit-animation: float-anim1 12s infinite;
    animation: float-anim1 12s infinite;;
    animation-delay: 6s;
}
@keyframes float-anim1 {
    10% {transform: rotate(15deg);}
    25% {transform: rotate(-5deg);}
    40% {transform: rotate(10deg);}
    75% {transform: rotate(-25deg);}
    to {transform: rotate(30deg);}
}
.delay-1 {
    margin-top: 81vh;
    transform: rotate(20deg);
    animation: delay-1-anim 9s ease-out;
}
@keyframes delay-1-anim {
    from {transform: rotate(60deg); margin-top: -5rem; margin-right: 1rem;}
    to {transform: rotate(20deg); margin-top: 81vh;}
}
.delay-2 {
    margin-top: 80vh;
    transform: rotate(-25deg);
    margin-right: 1rem;
    animation: delay-2-anim 8.5s ease-out;
}
@keyframes delay-2-anim {
    from {transform: rotate(10deg) ; margin-top: -10rem;}
    15% {transform: rotate(10deg) ; margin-top: -10rem;}
    to {transform: rotate(-25deg) ; margin-top: 80vh; margin-right: 2rem;}
}
.delay-3 {
    transform: rotate(25deg) ;
    margin-right: 2rem;
    margin-top: 83vh;
    animation: delay-3-anim 9.5s ease-out;
}
@keyframes delay-3-anim {
    from {transform: rotate(-25deg) ; margin-top: -7rem;}
    20% {transform: rotate(-25deg) ; margin-top: -7rem;}
    to {transform: rotate(25deg) ; margin-top: 83vh; margin-right: 1.5rem;}
}
.opacity-in {
    animation: opacity-in-anim 3s linear;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes opacity-in-anim {
    from {opacity: 0;}
    70% {opacity: 0;}
    to {opacity: 1;}
}
.production-anim {
    -webkit-animation: plastic-prod-horiz 20s infinite;
    animation: plastic-prod-horiz 5s infinite;
}
@keyframes plastic-prod-horiz {
    from {margin-right: 0; margin-left: -50vw; opacity: 1;}
    99.999% {margin-right: -100vw; margin-left: 100vw; opacity: 1;}
    to {margin-right:0; margin-left: -50vw; opacity: 1;}
}

#infoProd2{
    transition: all 2s;
}
.info-prod-show {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: all 2s ease;
}
.info-prod-hide {
    display: none;
    -webkit-transform: translate(0, -20%);
    transform: translate(0, -20%);
    opacity: 0;
    transition: all 2s ease;
}



@media all and (max-width: 800px) {
    .ver-cent-push-dwn {
        font-size: 1.2rem;
        padding-top: 25%;
    }
    .fluid-padd-right {
        padding-right: 1rem;
    }
    .btn-bubble {
        padding: 0.5rem;
    }
    .bubble-intro {
        margin-right: 55%;
    }
    .btn-bubble:after {
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
}
@media all and (min-width: 1420px) {
    .arrow-vertical-lg {
        margin-right: 5%;
    }
}
@media all and (min-width: 1800px) {
    .arrow-vertical-lg::before {
        width: 15%;
    }
}

/* counting page */
.bluewhale {
    width: 2rem;
}
.monster-sm {
    width: 0.8rem;
    margin: 0 0.1rem;
}
.monster-md {
    width: 2.5rem;
    margin: 0 0.5rem;
}
#repeat100, #repeat10B {
    max-width: 14rem;
}

/* intro pages */

.body-frame {
    height: 100%;
}
.intro-btn-align {
    bottom: 0;
    margin: auto;
}
.intro-canvas {
    background-color: var(--color-light);
}

/* graph elements for start-page */
.whale .badges, .turtle .badges {
    position: initial;
    top: 0;
    left: 0;
}
.bird .badges {
    margin-left: -2rem;
}

.badge-anim {
    position: relative;
    top: 0;
    left: 0;
}

.random-margin-1 {
    margin-top: 1vh;
}
.random-margin-2 {
    margin-top: 1.5vh;
}
.random-margin-3 {
    margin-top: 2vh;
}
.random-margin-4 {
    margin-top: 2.5vh;
}
.random-margin-5 {
    margin-top: 3vh;
}
.random-margin-6 {
    margin-top: 3.5vh;
}
.random-margin-7 {
    margin-top: 4vh;
}
.random-margin-8 {
    margin-top: 4.5vh;
}

/* bottle canvas*/
canvas#bottles_canvas {
    width: 100vw;
    height: auto;
    margin-bottom: 4.5rem;
}

.border-dark {
    border-radius: 50%;
    padding: 2rem;
    border: var(--color-highlight) solid 0.25rem;
}

/* intro illustration */
.background-illustration {
    background: url("../img/illustration_screen/full_image.svg") no-repeat;
    height: 100vh;
    background-color: #32abde;
    background-size: contain;
    background-position-y: bottom;
}
.info-whale {
    position: relative;
    top: 74vh;
    left: 68vw;
    animation: whale-mainpage-anim 50s infinite;
    display: inline;
}
@keyframes whale-mainpage-anim {
    25% {
        top: 68vh;}
    50% {
        top: 71vh; left: 76vw;}
    75% {top: 69vh;}
    to {top: 74vh;
        left: 68vw;}
}
.img-whale-story {
    max-width: 10rem;
    width: 8vw;
    height: 8vw;
    border: var(--color-highlight) dashed;
    border-radius: 50%;
    background: var(--color-light);
    padding: 0.15rem;
}
a.info-whale:hover > .img-whale-story {
    background-color: #4BBEE2;
    border-color: var(--color-dark);
}
.balloon-img {
    position: absolute;
    width: 2vw;
    bottom: 20vw;
    left: 14vw;
    -webkit-animation: balloon-anim 50s infinite ease-out;
    animation: balloon-anim 20s infinite ease-out;
}
@keyframes balloon-anim {
    15% {transform: rotate(25deg);}
    30% {transform: rotate(-45deg); width: 3.5vw;}
    75% {transform: rotate(15deg); width: 2vw;}
    to {transform: rotate(-15deg); bottom: 70vw; width: 0.5vw;}
}
.info-anim1 {
    animation: circle-1 15s linear infinite;
}
@keyframes circle-1 {
    from {margin-top: 0; margin-left: 0.75rem;}
    25% {margin-top: 0.5rem; margin-left: 1.5rem;}
    50% {margin-top: 1rem; margin-left: 0rem;}
    75% {margin-top: 0.25rem; margin-left: -0.75rem;}
    to {margin-top: 0; margin-left: 0.75rem;}
}
.info-anim2 {
    animation: circle-1 25s linear infinite;
}
@keyframes circle-2 {
    from {margin-top: 0.5rem; margin-left: 1rem;}
    25% {margin-top: 0.75rem; margin-left: 0.75rem;}
    50% {margin-top: 1rem; margin-left: 0rem;}
    75% {margin-top: 0.85rem; margin-left: -0.75rem;}
    to {margin-top: 0.5rem; margin-left: 1rem;}
}
.info-circle {
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    border: var(--color-highlight) solid 0.25vw;
    color: var(--color-highlight);
    background: var(--color-light);
}
.info-circle::after {
    content: "";
    border-left: solid var(--color-highlight) 0.05rem;
    height: 14vh;
    margin: 0.15rem auto auto 5.2vw;
    left: 0;
    right: 0;
    display: flex;
}
.info-circle:hover{
    color: var(--color-dark);
    border-color: var(--color-dark);
    background: var(--color-light);
}
.info-circle:hover::after{
    border-color: var(--color-dark);
}
.text-in-circle {
    min-height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.15vw;
}
.info-balloons {
    top: 1vw;
    left: 4vw;
}
.info-production {
    top: 10vw;
    left: 20vw;
}
.info-sealife {
    top: 10vw;
    left: 35vw;
}
.info-story-deepdive {
    left: 64vw;
    top: 16vw;
}
.info-solutions {
    top: 2.5vw;
    left: 74vw;
}
.info-help {
    top: 15vw;
    left: 85vw;
}
.wind-static {
    top: 3vw;
    left: 50vw;
}
.cloud-1 {
    top: 35vw;
    left: 10vw;
    animation: cloud1-anim infinite 110s ease-out;
}
@keyframes cloud1-anim {
    50% {top: 20vw;}
    to { top: 30vw;left: 120vw; opacity: 0;}
}
.cloud-2 {
    top: 15vw;
    left: -10vw;
    animation: cloud2-anim infinite 60s ease-in;
}
@keyframes cloud2-anim {
    50% {
        top: 20vw;}
    to { top: 25vw;left: 100vw; opacity: 0;}
}
.cloud-3 {
    top: 75vw;
    left: 20vw;
    animation: cloud2-anim infinite 40s ease-in;
}
@keyframes cloud3-anim {
    50% {
        top: 70vw;}
    to { top: 80vw;left: 100vw; opacity: 0;}
}
.wind > .tooltiptext-bottom {
    width: 30vh;
    min-width: 20rem;
    padding: 1.25rem;
    font-size: 1rem;
}

.collapse.in { min-height: 50px;border: 1px solid blue; }


.mobile-portrait-show {
    display: none;
}
@media all and (orientation: portrait){
    .mobile-portrait-show {
        display: block;
    }
    .mobile-portrait-hide {
        display: none;
    }
    .footer {
        max-height: 2.8rem;
    }
}
